*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #7b6565;
}

.areaprincipal{
    background-image: url('img/banner.webp');
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    opacity: 0.7;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

#encabezado{
    background-color: #d0e6f8;
    height: 240px;
    text-align: center;
    background-image: none;
    background-repeat: no-repeat;
    background-size: 180px 180px;
}

.piedepagina{
    background-color: #3b2f2f;
    color: white;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 0px 10px 2px black;
    margin-top: 20px;
}

#menu{
    background-color: #3b2f2f;
    color: white;
    padding: 15px;
    box-shadow: 0px 0px 10px 2px black;
    margin-top: 20px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3b2f2f;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

a:hover{
    background-color: #111;
}

#datos{
    width: 80%;
    background-color: aquamarine;
    height: 600px;
    margin: auto;
    opacity: 1;
    color: #2a3e55;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}